* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

header {
  width: 100%;
  height: 64px;
  display: flex;
}

.header_wrapper {
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 130px;
  margin: 0 auto;
}

h1 {
  font-size: 28;
}

nav a {
  width: auto;    
}

nav a {
  font-weight: 600;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 8px;
  text-decoration: none;
}
nav a:last-child {
  margin-right: 0;
}

#burger {
  display: none;
}

main {
  display: flex;
}

.main_wrapper {
  max-width: 1440px;
  padding: 56px 130px 0;
  margin: 0 auto;
}

h1 {
  font-weight: 700;
  font-size: 130px;
  line-height: 120px;
  letter-spacing: -6%;
  margin-bottom: 60px;
}

h2 {
  font-weight: 700;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: -6%;
  margin-bottom: 32px;
}

section p {
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  color: #18216D;
  opacity: 0.6;
  font-size: 14px;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#sec2 {
  flex-direction: row-reverse;
}

.section_content {
  max-width: 580px;
}

footer {
  background-color: rgba(10, 12, 15);
  display: flex;
  padding: 0 20px;
}

.learn_more {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 251px;
  height: 80px;
  border-radius: 24px;
  margin: 60px auto 56px;
}

@media screen and (max-width: 1380px) {
  section img {
      width: 100%;
  }
  section {
      flex-direction: column-reverse !important;
  }
  .section_content {
      max-width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .header_wrapper {
      padding: 0 20px;
  }
  nav .desktop{
      display: none;
  }
  #burger {
      display: block;
  }
  .main_wrapper {
      padding: 40px 20px 0;
  }h1 {
      font-size: 48px;
      line-height: 48px;
  }
  h2 {
      font-size: 32px;
      margin-bottom: 12px;
  }
  .section_content p {
      font-size: 16px;
      line-height: 24px;
  }
  section img {
      width: 70%;
  }
  .learn_more {
      width: 100%;
  }
}